.bg-image {
    background-image: url('../../assets/Imagem\ do\ WhatsApp\ de\ 2024-08-20\ à\(s\)\ 19.27.54_9c355a10.jpg');
    background-size: cover;
    background-position: center;
    /* Outros estilos conforme necessário */
}